# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [29]:
# imports and load data
import pandas as pd
df = pd.read_csv("store_data.csv")

In [33]:
# explore data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
week      200 non-null object
storeA    200 non-null int64
storeB    200 non-null int64
storeC    200 non-null int64
storeD    200 non-null int64
storeE    200 non-null int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

In [34]:
df['week']= pd.to_datetime(df['week']) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
week      200 non-null datetime64[ns]
storeA    200 non-null int64
storeB    200 non-null int64
storeC    200 non-null int64
storeD    200 non-null int64
storeE    200 non-null int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 9.5 KB

In [35]:
# total sales for the last month
df.iloc[196:, 1:].sum()

storeA    25127
storeB    24595
storeC    16447
storeD    22783
storeE     7787
dtype: int64

In [36]:
# average sales
df.mean()

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: float64

In [37]:
# sales on march 13, 2016
df[df["week"]=="2016-03-13"]

         week  storeA  storeB  storeC  storeD  storeE
97 2016-03-13    2054    1390    5112    5513    2536

In [40]:
# worst week for store C
df[df["storeC"]==df["storeC"].min()]

        week  storeA  storeB  storeC  storeD  storeE
9 2014-07-06    8567    3228     927    3277     168

In [52]:
# total sales during most recent 3 month period
last_three_months = df[df['week'] >= '2017-12-01']
# last_three_months.iloc[:, 1:].sum()  # exclude sum of week column
last_three_months.loc[:,"storeA":].sum()

storeA    87591
storeB    79394
storeC    66538
storeD    75190
storeE    27334
dtype: int64

In [53]:
last_three_months = df[df['week'] >= '2017-12-01']

In [54]:
last_three_months.iloc[:, 1:].sum()  # exclude sum of week column

storeA    87591
storeB    79394
storeC    66538
storeD    75190
storeE    27334
dtype: int64

In [55]:
last_three_months

          week  storeA  storeB  storeC  storeD  storeE
187 2017-12-03    5179    3850    6121    6778     113
188 2017-12-10    9348    5624    5446    5448     227
189 2017-12-17    5310    8647    5680    7049    3578
190 2017-12-24    8976    9503    6240    3882    2890
191 2017-12-31   11875    1527    6711    5265    1701
192 2018-01-07    8978   11312    4158    5019    3842
193 2018-01-14    6963    4014    4215    7153    3097
194 2018-01-21    5553    3971    3761    6255    3071
195 2018-01-28     282    6351    7759    5558    1028
196 2018-02-04    4853    6503    4187    5956    1458
197 2018-02-11    9202    3677    4540    6186     243
198 2018-02-18    3512    7511    4151    5596    3501
199 2018-02-25    7560    6904    3569    5045    2585

In [60]:
last_three_months.loc[196:,:].sum()

storeA    25127
storeB    24595
storeC    16447
storeD    22783
storeE     7787
dtype: int64